[2014-09-18 01:00] gaul opened #1 "violations for implementing legacy interfaces"
Modernizer should detect implementation of legacy interfaces, e.g.,
- `com.google.common.base.Function` instead of `java.util.function.Function`
- `com.google.common.base.Predicate` instead of `java.util.function.Predicate`
- `com.google.common.base.Supplier` instead of `java.util.function.Supplier`

This will require a different mechanism than the existing method call instrumentation, probably so

[2014-09-18 01:29] gaul opened #2 "violations for primitive wrapper constructors"
Modernizer could warn about use of primitive wrapper constructors, e.g., `new Integer(int)`, and recommend uses of the factory methods, e.g., `Integer.valueOf(int)`.  This duplicates FindBugs checks although provides the same functionality with lower overhead.

[2014-09-18 01:38] gaul opened #3 "disable Modernizer via @SuppressWarnings annotation"
@SuppressWarnings allows finer-grained suppression of violations than the existing file-based mechanism.

[2014-09-18 05:12] #2 closed, assigned to nobody

[2014-09-18 05:14] gaul opened #4 "Emit source file name in log messages"
Presently Modernizer emits the class file name instead of the source file name:

[code]

[2014-09-18 20:41] #1 closed, assigned to nobody

[2014-09-19 17:13] whyicantusemyemailasusername opened #5 "Wrong rule for newArrayList and newLinkedList"
There is no such constructor in 1.7

[code]

[2014-09-19 18:20] #5 closed, assigned to nobody

[2014-09-19 20:27] gaul opened #6 "add violations for Guava Maps and Sets factories"
Similar to the existing violations for Lists factories.

[2014-09-19 20:31] #6 closed, assigned to nobody

[2014-09-20 19:51] Stephan202 opened #8 "Scanning test sources"
Just tried the plugin and it worked very nicely. Great initiative!

I did notice however that, by default, test classes are not scanned. Not sure whether that's on purpose, but it might be worthwhile to document (either in `README.md` or in the wiki) that one can configure the plugin to scan test classes as well. E.g.:

[code]

One might then also want to point out that, by moving the `javaVersion

[2014-09-20 23:47] #8 closed, assigned to nobody

[2014-09-21 15:39] gaul opened #11 "Modernizer uses file paths instead of class resources to resolve exclusions file"
This prevents some multi-module projects like jclouds/jclouds#529 from using Modernizer.

[2014-09-21 16:29] #11 closed, assigned to nobody

[2014-09-21 20:31] #4 closed, assigned to nobody

[2014-12-13 20:16] ragesteel opened #14 "Accept Java version number in form of 7 and 8 instead of only 1.7 and 1.8"
Maven compiler plugin is fine with source and target versions like 7 or 8.
I want to use the same property for configuring modernizer plugin.

[2014-12-17 07:53] ArloL opened #15 "NPE in Modernizer.java:59"
ModernizerMojo has no default value for ignorePackages. Therefore ignorePackages is null.

A workaround is to add an empty `<ignorePackages />` definition.

[2014-12-17 11:33] #15 closed, assigned to nobody

[2014-12-21 05:43] rtack opened #18 "create source jars and deploy them to central"
At the moment only pom and jar files get deployed to maven central.
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.gaul%22%20AND%20a%3A%22modernizer-maven-plugin%22

source jars would be helpful, especially when debugging a crash.

[2014-12-22 17:48] #18 closed, assigned to nobody

[2014-12-30 09:47] dodgex opened #19 "String index out of range: -1 when there are classes with no/default package"
Hello :)

There is an issue with classes that have no package. [here](https://github.com/andrewgaul/modernizer-maven-plugin/blob/master/src/main/java/org/gaul/modernizer_maven_plugin/Modernizer.java#L132) it tries to get the packageName by searching the last `/` in the name but for classes that have no package there is no `/` and the `lastIndexOf`call returns `-1` resulting in the error.

[2014-12-31 19:07] #19 closed, assigned to nobody

[2015-01-01 01:51] #14 closed

[2015-01-08 15:31] rdifrango opened #21 "Apache Commons Collections"
Should there be provisions in the configuration to look for usages from Apache Commons Collections, like functions, closures, etc.?

[2015-01-08 19:20] andrewgaul commented on #21
@rdifrango Definitely!  Could you submit a pull request for more Apache Commons checks?  I only have a little familiarity with commons-collections since I mostly use Guava.

[2015-01-09 13:43] rdifrango commented on #21
@andrewgaul We use it sparingly as we've started to switch over to Guava, so I'll give it a shot.

[2015-01-09 16:36] andrewgaul commented on #21
@rdifrango Switching to Guava is another interesting use case -- Modernizer could provide a second optional resource file to suggest Commons replacements.  Modernizer only supports a single resource file now but supporting more is easy to add.

[2015-01-10 15:54] Stephan202 commented on #21
+1 for the idea of generalizing the plugin to facilitate migrations from old lib _X_ to newer lib _Y_ (where in this case _X_ = Apache Commons and _Y_ is Guava). I guess _X_ and _Y_ could even be different versions of the same library. (Though that's a less useful scenario, provided the library maintainers mark methods with a more suitable replacement `@Deprecated`.)

[2015-02-09 23:26] andrewgaul opened #22 "Allow multiple violations files"
This will allow users to migrate between different libraries, e.g., Apache Commons to Google Guava.  Continuing on from discussion in #21.

[2015-02-19 18:12] ankon commented on #3
If I understand modernizer correctly, this wouldn't work: @SuppressWarnings is only retained in the source, not in the generated class files.

[2015-02-19 21:11] andrewgaul commented on #3
@ankon I have limited background in annotation processing but I believe one can use the `RUNTIME` retention policy:

http://docs.oracle.com/javase/7/docs/api/java/lang/annotation/RetentionPolicy.html

[2015-02-19 21:23] Stephan202 commented on #3
@andrewgaul, that's true when one has control over the annotation. In this case, however, `java.lang.SuppressWarnings` is annotated `@Retention(RetentionPolicy.SOURCE)`. Not much we can do about that :/

[2015-02-19 21:29] andrewgaul commented on #3
I see, so we would need a new `SuppressModernizerWarnings` class with the `RUNTIME` policy?

[2015-02-19 21:31] Stephan202 commented on #3
That would be a solution, yes. (Though not quite as nice as the original suggestion.) Have no better idea at this point. (Other than adding support for source code analysis to the plugin, of course!)

[2015-02-19 21:32] petteyg commented on #3
asm is operating on the bytecode, so I would think RententionPolicy.CLASS should be sufficient.

[2015-02-19 21:33] Stephan202 commented on #3
Ah, right. That's more appropriate indeed.

[2015-02-19 21:43] ankon commented on #3
Thinking a bit outside of the box here: One "evil" way could be to add a annotation processing step, which finds the @SuppressWarnings that pertain to modernizer, and dumps those into an exclusion file which is then used by the actual modernizer goal.

This would avoid polluting sources with build-system specific things ... except that of course the value in the annotation is also modernizer-speci

[2015-05-01 09:57] gaul opened #27 "Allow comments in exclusion file"
Suggested by @nacx.

[2015-05-05 03:17] talios opened #28 "Option to ignore generated code"
A lot of code generated via tools like immutables.org trigger warnings from the plugin, it would be nice to be able to disable the warmings for these files.

In general, these are all annotated with `javax.annotation.Generated`, unfortunately that's flagged as  `@Retention(SOURCE)` so can't be tracked at the `.class` level.

Thoughts?  Maybe add an exclusions list in the plugin configuration?

[2015-05-05 03:56] andrewgaul commented on #28
@talios Could you provide an example?  I followed the simple example from immutables.org but could not trigger any modernizer warnings.

[2015-05-05 23:05] talios commented on #28
When compiling for JDK7 I get out of our builds:

    [ERROR] /Users/amrk/.../ImmutableTrustedIpDto.java:26: Prefer java.util.Objects.requireNonNull(Object)
    [ERROR] /Users/amrk/.../ImmutableTrustedIpDto.java:27: Prefer java.util.Objects.requireNonNull(Object)

The `toString()` generated method uses Google Guava:

    @Override
    public String toString() {
      return MoreObjects.toStringHel

[2015-05-29 17:53] andrewgaul opened #32 "Add Javadoc to Mojo Parameters"
This improves the help text.  Suggested by @hgschmie at https://github.com/andrewgaul/modernizer-maven-plugin/pull/30#issuecomment-106879873.  Example:

https://github.com/basepom/duplicate-finder-maven-plugin/blob/master/src/main/java/org/basepom/mojo/duplicatefinder/DuplicateFinderMojo.java#L107-L254

[2015-05-29 18:19] #32 closed

[2015-06-23 21:29] andrewgaul commented on #21
For example, suggest replacing `org.apache.commons.io.input.BoundedInputStream` with `com.google.common.io.ByteStreams.limit`

[2015-07-03 17:15] SimenB opened #33 "Warn when using Joda DateTime in JDK 8"
Should use the `java.time`-package as much as possible

[2015-07-05 22:47] andrewgaul commented on #33
@SimenB Agreed; would you like to create a pull request for this?

[2015-07-06 06:48] SimenB commented on #33
I can look into it, no promises though :laughing:

I did a dump of the joda jar-file: http://pastebin.com/yP8fsaHn. How do I attack that?

Also, how would you handle the fact that using `DateTime` as in joda is discouraged, as you rarely need an instant, and migration to `LocalDate` or` LocalDateTime` etc is recommended?

[2015-07-06 10:31] ankon opened #35 "RFC: Warn about use of methods that might block indefinitely"
This is more of an idea than an actual issue, so by all means shoot me down :)

Basically I'm currently reading through 'Release It' (http://www.amazon.com/dp/0978739213/), and one of the stability anti-patterns there is to not have proper timeouts (and handling of those). At least some of those are caused by the use of methods such as `Object#wait()`, so I was wondering whether modernizer could n

[2015-07-08 21:18] andrewgaul commented on #35
I think laying the foundation with #22 would be the best way to start this.  That way users can experiment with the suggested violations and we can get some feedback on more popular anti-patterns.

[2015-07-08 21:24] andrewgaul commented on #33
@SimenB In this case I think we can just add violations for the JodaTime constructors and factories, e.g., `DateTime`.  This is similar to how we handle Guava `Optional`.  Regarding discouragement within JodaTime itself, I don't think modernizer should worry about this and merely suggest the Java 8 equivalents.

[2015-07-09 16:57] vladimirfx commented on #28
+1
I've use JDO enchancement for truly  transient persistence. Result of modernizer check is 3 line ERROR for single entity:

    BlackListEntry.java:-1: Prefer java.lang.StringBuilder
    BlackListEntry.java:-1: Prefer java.lang.StringBuilder
    BlackListEntry.java:-1: Prefer java.lang.StringBuilder

Exclude file can't help with that, because that violation is usefull for my handwrited code.

[2015-07-09 17:28] SimenB commented on #33
@andrewgaul Is it possible to react to usage of classes instead of methods? The author of both JodaTime and JSR 310 has made a nice table for comparison, being able to just map that instead of constructors and factories would make it less bloated (`DateTime` alone has more than 20 constructors/factories).

http://blog.joda.org/2014/11/converting-from-joda-time-to-javatime.html

[2015-07-09 20:35] andrewgaul commented on #33
@SimenB Should be possible -- see `com.google.common.base.Function` in `modernizer.xml`.

[2015-07-09 21:16] SimenB commented on #33
Couldn't get it to work, is it because of `Function` being an interface that is implemented, and not just a type returned?

Anyways, a PR is up. Hopefully it covers the most common uses :smile:

[2015-07-11 22:18] #33 closed

[2015-07-11 23:03] andrewgaul commented on #28
I do not see an easy, general fix for this -- https://github.com/andrewgaul/modernizer-maven-plugin/issues/3#issuecomment-75142823 suggests hooking the source annotation during compilation for later use in the main modernizer goal.  I opened an upstream issue against immutables to use `StringBuilder` but could not find where JDO uses `StringBuffer` -- @vladimirfx can you point me to this or open a

[2015-08-09 12:11] Stephan202 opened #37 "@Inject is not always a drop in replacement for @Autowired"
The rule introduced in #26 seems to be slightly too strict. The plugin now also complains about `@Autowired(required = false)`, while there is no direct equivalent when using `@Inject`.

On could [work around](http://docs.jboss.org/weld/reference/latest/en-US/html/injection.html#_fixing_unsatisfied_and_ambiguous_dependencies) that (see also [this SO thread](https://stackoverflow.com/questions/1948

[2015-08-09 15:24] andrewgaul commented on #37
@ArloL Can you comment on this?

[2015-08-10 06:27] ArloL commented on #37
@Stephan202 is absolutely right. I didn't think of that case.

The recommendation should be removed.

I don't think it will ever be possible to check for specific annotation values in the modernizer plugin so I guess there'll have to be a different way to check for `@Autowired`.

[2015-08-10 18:20] andrewgaul commented on #37
Could one of you submit a pull request to remove this violation?

[2015-08-11 12:59] vladimirfx commented on #28
StringBuffer is extensively used in Datanucleus enchanced classes. See class
`org.datanucleus.enhancer.methods.CopyField` for example and many other in same package.
Actualy, there is nothing wrong with Datanucleus Enchancer and many other bytecode manipulation libs. This libs designed for compatibility with old Java ( or Guava , etc) versions. There is nothing to fix instead of modernizer.
We nee

[2015-09-22 09:24] #37 closed

[2015-11-16 01:03] hgschmie opened #40 "modernizer is at odds with guava recommendations"
According to https://code.google.com/p/guava-libraries/wiki/PreconditionsExplained, the guideline if using Guava in JDK7+ is

--- snip ---
We preferred rolling our own preconditions checks over e.g. the comparable utilities from Apache Commons for a few reasons. Piotr Jagielski discusses why he prefers our utilities, but briefly:

After static imports, the Guava methods are clear and unambiguous.

[2015-11-16 01:07] hgschmie opened #41 "modernizer erroneously recommends javax.inject.Inject over com.google.inject.Inject"
These two are not equivalent, as the google variant supports optional injection. See https://github.com/google/guice/blob/master/core/src/com/google/inject/Inject.java

So https://github.com/andrewgaul/modernizer-maven-plugin/blob/master/src/main/resources/modernizer.xml#L609-L613 is not correct.

[2015-11-16 01:10] hgschmie opened #42 "violations file should be loadable from class path"
Most other plugins that need a resource (e.g. checkstyle, pmd, findbugs etc) support loading their resource file from the classpath. This allows packaging up all these policy files into a convenient jar and adding it as a dependency to the plugin(s).

Modernizer only loads its internal file from the classpath and any user defined file is loaded with an explicit `new File(...)`. It should be possib

[2015-11-16 01:11] hgschmie commented on #42
Especially it should be possible to load the "default" violations file with an explicit `<violationsFile>...</violationsFile>` configuration setting to support stacked POMs with overriding. I want to use the plugin in the basepom project and right now, this is a showstopper.

[2015-11-16 01:13] hgschmie opened #43 "should support and empty rule set ("do nothing") configuration"
It should be possible to "turn off" the default checks without having to specify any violations file. This would allow configuring the plugin in a stacked pom environment (having a base pom that wires up the plugin but does not impose any policy on a project) and the leave it to the actual projects to choose what checks it wants (e.g. turn on the default checks or supply a specific violations file

[2015-11-16 04:35] Stephan202 commented on #41
Duplicate of #37, fixed in #39. Not yet released, though. :)

[2015-11-16 06:32] andrewgaul commented on #41
This seems a bit different, #37 removes an erroneous violation for @AutoWired while this tracks @Inject.

[2015-11-16 06:54] Stephan202 commented on #41
@andrewgaul: You're correct. Should not have commented before my first coffee ;).

[2015-11-17 23:05] andrewgaul commented on #41
Does this also apply to `javax.inject.Provider`?

@ankon What do you think about this issue?

[2015-11-24 09:58] ankon commented on #41
Good point. Assuming there is no way to catch only those cases where it is equivalent, this suggestion should probably be removed from the default set.

With that said:
1. What about having two default rule sets, one for "strict-but-possibly-overzealous" and one for "should always be ok"?
2. Instead of using Guice's `optional` attribute, one can use an `OptionalBinder`: see the documentation here

[2015-12-02 20:31] jamcole commented on #43
It appears you can use <skip>true</skip> or -Dmodernizer.skip=true in the sub-project to disable the checks even though it's not in the documentation; works for our situation.
Our parent pom contains <skip>${modernizer.skip}</skip> since the config setting takes precedence over the system property for some reason; this makes it work as expected so our sub-projects can disable the checks until they

[2015-12-12 08:38] puntogil opened #44 "modernizer-maven-plugin don't include the license file"
Not available LICENSE file in source directory structure
Please. Added license and copyright notice.
the fedora pakaging guideline is very strictly precise about this problem
https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Text
thanks
regards

[2015-12-12 09:10] puntogil opened #45 "Update maven-checkstyle-plugin to 2.17"
Hi
Please, update maven-checkstyle-plugin to 2.17, cause:

[code]

RedundantThrows was removed with version 6.2 (see https://github.com/checkstyle/checkstyle/issues/473)  and its reference should be removed in src/main/resources/checkstyle.xml
Thanks in advance
Regards

[2015-12-12 14:41] #44 closed

[2015-12-12 14:41] andrewgaul commented on #44
Thanks for reporting this issue!

[2015-12-12 14:45] #45 closed

[2015-12-12 14:45] andrewgaul commented on #45
Thanks for reporting this issue!  Please submit pull requests as well.

[2016-01-26 22:48] andrewgaul opened #46 "Java 9 Convenience Factory Methods for Collections"
Evaluate closer to Java 9 release:

http://openjdk.java.net/jeps/269

[2016-02-03 00:30] ctubbsii opened #47 "Generate plugin docs and publish to github.io pages"

[2016-02-03 00:30] ctubbsii opened #48 "Provide skip configuration parameter (-Dmodernizer.skip)"

[2016-02-03 01:11] andrewgaul commented on #48
1.4.0 should include a skip property, implemented in 93fe3c277e98e0287200ee649d6224e7c8c30392.

[2016-02-03 01:14] ctubbsii commented on #48
Excellent. Then the README just needs to be updated to mention it.

[2016-02-17 09:07] ChristianLutz opened #49 "Show messages as warning instead of error"
It would be nice if we could configure, all messages as WARNING. Because currently it looks very 'red' in our build system. And actually nothing is broken in our defenition.

[2016-06-13 20:34] simonharrer opened #50 "gradle plugin"
This would make an excellent gradle plugin. :)

[2016-06-13 22:27] andrewgaul commented on #50
@garc33 created such a wrapper but has not updated in some time:

https://github.com/garc33/gradle-modernizer-plugin

Any chance of updating to Modernizer 1.4.0?  If your wrapper is maintained I would like to link to it from the Modernizer README.

[2016-11-06 18:55] electrum opened #51 "Allow easier exclusion of many related checks"
We're trying to update the modernizer version, but recent versions added checks for Joda-Time, which plan to keep using for several reasons (performance, user provided formats in Joda-Time syntax, etc.). At this point, it seems the only option is to copy/paste 20+ exclusions, and repeat this any time we update (if modernizer adds more).

Two ideas on how to improve fix:

* Add more flexible exclus

[2016-11-06 18:55] electrum commented on #51
I'm happy to send a pull request for whichever one you'd prefer.

[2016-11-06 19:13] electrum commented on #40
As a bit of data, I checked the Presto code base, where we previously converted from `checkNotNull` to `requireNonNull`. We have over 4600+ instances of `requireNonNull` and less than 25 which have a non-constant message, of which most should actually be `checkArgument`, since they're doing something like this:
[code]
Also note that you can pass a `Supplier` for the message:
[code]
Thus, my opinio

[2016-11-30 10:58] raulvillalbamedina opened #52 "Plugin to Jenkins?"
Hi,

I am finding a Jenkins plugin to view modernizer results.

Thanks,

[2016-12-08 14:47] simonharrer commented on #50
I implemented an improved wrapper using Java 8 and Modernizer 1.4.0 for Gradle https://github.com/simonharrer/gradle-modernizer-plugin

You can link to this plugin if you like. It is also available at https://plugins.gradle.org/plugin/com.simonharrer.modernizer

[2016-12-11 11:19] andrewgaul commented on #50
@simonharrer Your plugin looks great!  Could you submit a pull request to `README.md` with your hyperlink?

[2016-12-11 13:32] simonharrer commented on #50
Done.

[2016-12-11 13:32] #50 closed

[2016-12-23 03:15] andrewgaul commented on #52
@raulvillalbamedina As far as I know, a Jenkins plugin does not exist.  Happy to help anyone trying to write one!

[2017-01-09 19:33] electrum commented on #51
Which option is preferable?

[2017-01-17 21:00] andrewgaul commented on #51
Another workaround is to specify a custom violations file with the subset of checks.

Of the two forms, I prefer `exclusionsPattern` since we would end up inventing another name for what should be a unique package.  Could you send a pull request for this?

[2017-01-17 21:09] #52 closed

[2017-01-17 21:10] #48 closed

[2017-01-17 22:50] #46 closed

[2017-01-17 22:59] #51 closed

[2017-01-17 23:04] #41 closed

[2017-01-18 07:53] Stephan202 commented on #46
Hi @andrewgaul. Just saw fed226a792e3e1f6cd60fcdd846b22fc4a6ec831. We have a code base in which Guava's `Immutable*` types are extensively passed around. In particular, many a field and return type is explicitly immutable. This has merit far beyond the convenience that the static factory methods on these types provide. As such I'm not sure that the violations added in the aforementioned commit mak

[2017-01-23 23:14] andrewgaul commented on #46
@Stephan202 The `ImmutableMap` vs. `Map` deprecation trick is a neat trick although I have not used it in my projects.  Do you think the exclusion patterns added in #55 allow you sufficient control over these violations in your projects?  I agree that some violations have arguable value although I think modernizer should improve its configuration to allow users to select what they want and add mor

[2017-01-23 23:15] #49 closed

[2017-01-24 06:59] ChristianLutz commented on #49
Thank you for the implementation.

[2017-01-24 22:36] #22 closed

[2017-01-24 22:36] #42 closed

[2017-01-28 11:08] Stephan202 commented on #46
@andrewgaul Thanks, I tested the #55 feature using version 1.5.0 of the plugin with the exclusion pattern `org/joda/time/.*` (because we're "midway" in our migration from Joda to `java.time`) and this works as expected. My concern about `Immutable*` usage would then call for an exclusion pattern of the form `com/google/common/collect/Immutable\w+\.of:` (or something like that, didn't test it).

As

[2017-03-15 18:46] ARentz07 opened #57 "Rule to check Collections.EMPTY_MAP/LIST/SET as they are not type-safe"
We should add a rule to prefer using `java.util.Collections.emptyMap()` over `java.util.Collections.EMPTY_MAP`. The same should be applied for `EMPTY_SET` and `EMPTY_LIST`. This will promote avoidance of common unchecked operation warnings.

Ref:
https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#EMPTY_LIST
https://docs.oracle.com/javase/8/docs/api/java/util/Collections.html#empt

[2017-03-15 20:13] andrewgaul commented on #57
@ARentz07 Good suggestion -- can you submit a pull request?

[2017-03-15 20:27] ARentz07 commented on #57
Yes, just wanted to see if you were interested first. 😄

[2017-03-17 17:47] #57 closed

[2017-09-11 16:55] gaul opened #60 "Java 9 compatibility"
modernizer fails with Java 9:

[code]

Upgrading the asm dependencies to 6.0_BETA addresses this issue.

[2017-10-28 17:11] #60 closed

[2017-10-28 17:13] gaul commented on #60
Deployed 1.6.0-SNAPSHOT with fix.

[2017-11-15 20:43] afrin216 opened #61 "Prefer ThreadLocalRandom over Random in JDK>=1.7"
Prefer ThreadLocalRandom over Random to reduce contention and overhead

https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ThreadLocalRandom.html

[2017-11-15 20:44] afrin216 commented on #61
PR - https://github.com/gaul/modernizer-maven-plugin/pull/62

[2017-11-20 05:27] gaul commented on #61
I have concerns about a blanket recommendation for `ThreadLocalRandom` since users cannot set the seed.  Thus there is no ability to have repeatable pseudo-random numbers.

[2017-11-20 14:10] afrin216 commented on #61
Ah, I didn't think about that. This class was created by Java to reduce thread contention and synchronization blocking of `Random` class. One way that was mitigated was by internalizing the seed creation. From the numbers I've seen, I think it is beneficial that users be forced to use this class over `Random` and ignore this plugin for cases where they need repeateable random numbers (though that'

[2017-11-20 19:31] gaul commented on #61
Let's leave this open for some time to see if a consensus emerges.  I worry about the blanket recommendation since modernizer has a low false-positive rate compare to more general and powerful static analysis tools.  modernizer also lacks a suppression mechanism #3 so false-positives are more irritating than other tools.  We do have a mechanism to allow multiple and custom violation files so we co

[2017-11-20 23:15] afrin216 commented on #61
Agreed! A low priority/good practices violations file sounds like a good place for this rule. We can document that this can be used by consumers wishing to enforce extra/good practices constraints

[2018-02-01 23:30] vorburger opened #64 "Option to ignore/exclude by class name"
It would be useful to be able to ignore/exclude by class name reg exp, e.g. for some cases of https://github.com/gaul/modernizer-maven-plugin/issues/28.

This is not possible today; the `exclusionPatterns` actually do not match on class name, but on _tokens_ (I just debug it...), and the `ignorePackages` only on package names.

I'll see if I can come up with a PR for an `ignoreClassPatterns` kind

[2018-02-01 23:30] vorburger commented on #28
https://github.com/immutables/immutables/issues/749 is another issue in Immutables.org re. this... but it's probably unrealistic to expect all 3rd party code generators to adapt, so the idea of using https://github.com/gaul/modernizer-maven-plugin/issues/3#issuecomment-75142823 seems cool...

In the case of Immutables.org, and perhaps other code generators, I've noticed that it also adds the `@edu

[2018-02-01 23:30] vorburger commented on #3
This would be cool, and help with https://github.com/gaul/modernizer-maven-plugin/issues/28 as well...

[2018-02-02 01:03] vorburger opened #68 "Possible minor optimization in case of package and class name ignores"
while I was working on https://github.com/gaul/modernizer-maven-plugin/pull/67 for  https://github.com/gaul/modernizer-maven-plugin/issues/64 I realized hat you could probably do a minor optimization... in case of package ignores (and the same goes for and class name ignores from my contribution; I've stuck to your style instead of mixing this idea into that change), then you should be able to ret

[2018-02-13 01:55] gaul commented on #64
This makes sense although I share your confusion now that there are so many ways to exclude code.

[2018-02-15 16:49] vorburger opened #69 "Release of 1.7.0 to Maven central"
just a placeholder issue that I can get notified whenever @gaul you'll have a chance to release 1.7.0 ...

see also https://github.com/gaul/modernizer-maven-plugin/pull/67

Thank you!

[2018-02-15 16:55] vorburger commented on #64
closing this, now that https://github.com/gaul/modernizer-maven-plugin/pull/67 is merged; thanks again @gaul !

[2018-02-15 16:55] #64 closed

[2018-02-17 17:25] keith-turner commented on #3
Findbugs has its own annotation for suppressing warnings.  One interesting thing finbugs did is not caring which package the annotation is in, see : https://stackoverflow.com/a/44947252 .  This allows users to declare the annotation and avoid having a dependency on findbugs.

[2018-02-22 17:06] gaul commented on #69
I would like to support Java 10 in the next version.  We will need to upgrade ASM to 6.1, which is currently in beta.

[2018-02-24 06:15] gaul opened #70 "JDK 10 immutable collection copy violations"
JDK 10 will add `List.copyOf` and `Map.copyOf` which should replace Guava `ImmutableList.copyOf` and `ImmutableMap.copyOf`:

https://bugs.openjdk.java.net/browse/JDK-8177290

@vorburger Could you investigate this?

[2018-02-24 12:41] Stephan202 commented on #70
Hmm, the Guava team [sees that differently](https://github.com/google/guava/issues/2969#issuecomment-343989695). As a user I'm inclined to agree.

[2018-02-24 17:39] gaul commented on #70
I disagree with their reasoning; especially exposing concrete Guava types in any public interface.  The Immutable* `@Deprecated` trick is cute, but I have used the concrete types in previous projects without any benefit.  In any case, Modernizer already recommends the Java 9 `List.of` and `Map.of` and this issue tracks the Java 10 additions.  I prefer to add these violations and users can disable

[2018-02-26 16:34] vorburger commented on #70
@gaul thanks for pinging me; just FYI I'm unlikely to have the time to make new code contributions to this project in the short term, especially until I can actually use it (waiting for https://github.com/gaul/modernizer-maven-plugin/issues/69), but even then Java 10 related work would be a low prio; the environment where I'm using this is still on Java 8... ;-)

Having said above just to clarify

[2018-02-27 19:35] jhaber commented on #3
Just a heads up we're going to be working on this in our fork (https://github.com/HubSpot/modernizer-maven-plugin) and will upstream the changes once they're ready.

[2018-03-04 21:00] gaul opened #72 "Programmatically generate modernizer.xml"
Less error prone then running `javap` over the test source.  This also might allow checking the violation against the recommendation.

[2018-03-04 21:12] gaul commented on #69
Looks like ASM 6.1 will release around 20 March 2018, one week after JDK 10 releases:

https://mail.ow2.org/wws/arc/asm/2018-02/msg00012.html

[2018-03-05 23:10] jhaber commented on #28
I think this can be solved as part of #3, which we're working on in our fork. The simplest thing that comes to mind is config flags like `includeGeneratedClasses` and `includeGeneratedTestClasses` (both defaulting to false)

[2018-03-06 05:55] vladimirfx commented on #28
@jhaber
In our case classes is not generated but enhanced, i.e. bytecode of original classes is modified. This is usual practice in world of ORMs and AOP tools. And usually injected bytecode is intensionally "old" style code to stay compatible with previous platform versions.
Unfortunately all such masses (model classes, AOP enhanced services etc) of code cat not be verified by modernizer :(

[2018-03-06 12:46] jhaber commented on #28
Interesting, is it possible to run modernizer before the bytecode is modified? You also mentioned exclusions by target characteristics, did you have something particular in mind?

[2018-03-06 18:50] vorburger commented on #28
@jhaber and @vladimirfx just wanted to make sure that you saw that there now IS actually already a new option to ignore/exclude by package / class name FQN reg exp, see #67.   @jhaber if you have #3 working for some specific @SuppressWarnings, it perhaps shouldn't be that hard to extend that to also kick in for any javax.annotation.Generated? That was probably the initial goal of this issue.

[2018-03-06 19:32] jhaber commented on #28
👍 for using the same mechanism to ignore `javax.annotation.Generated` classes. I think @vladimirfx's issue is different enough to tackle in a separate issue

[2018-03-09 05:01] #70 closed

[2018-03-21 01:12] gaul commented on #3
@jhaber Any updates on this?

[2018-03-21 16:31] jhaber commented on #3
We have it working where you can put `@SuppressWarnings("modernizer")` at the class level and that will get respected, and there is a PR to support this at the method level: https://github.com/HubSpot/modernizer-maven-plugin/pull/2

Once that is merged, we were thinking that it would be a good MVP of this feature and we would send a PR to upstream those changes.

Some notes about our approach:
- i

[2018-03-24 02:06] gaul commented on #3
Sounds good.  I have concerns about the large number of spurious changes in that pull request so please minimize the noise before submitting a pull request.  I look forward to this feature!

[2018-03-28 19:33] davidkarlsen opened #73 "Not java10 compat"
When running on a JDK 10 I get:
[code]

[2018-03-28 20:40] gaul commented on #73
Can you test with 1.7.0-SNAPSHOT?  a8de2d3f9dfcf2064921a7285ee8ab34d18526bd and fdf996b1f1f90166f36f398db4ea1dcae41c5f11 should address this.

[2018-03-29 09:48] davidkarlsen commented on #73
I cannot easily run with snapshot versions, but I fixed it by overriding the dependencies:
[code]

will 1.7.0 be released soon?

[2018-05-03 11:45] rbjorklin commented on #73
Spotbugs 3.1.3 would probably be a good idea first: https://github.com/spotbugs/spotbugs/blob/3.1.3/CHANGELOG.md

[2018-05-03 16:14] gaul commented on #73
I do not follow -- spotbugs runs in the developer environment; the produced jar does not reference it.  The user environment runs modernizer that does use the asm dependency which requires upgrading to 6.1.1, either in the future modernizer 1.7.0 release or by overriding the dependency as suggested above.

[2018-10-01 00:55] davidkarlsen opened #76 "java 11 support"
The plugin fails with java11:

[code]

[2018-10-01 00:56] davidkarlsen commented on #73
could you release the updated 1.7.0 version?

[2018-10-01 20:33] gaul commented on #76
Could you try to override the asm dependency with 7.0-beta:

[code]

Modernizer will upgrade and release when 7.0 final releases.

[2018-10-01 21:32] gaul commented on #69
Waiting on asm 7.0 final and for #74 to merge.

[2018-10-02 05:34] #27 closed

[2018-10-16 06:03] gaul commented on #73
I deployed 1.7.0-SNAPSHOT with asm 6.2.1.  Could you test if this resolves this issue?

[2018-10-16 06:29] davidkarlsen commented on #73
It does - thanks

[2018-10-16 06:35] davidkarlsen commented on #76
It does - thanks!

[2018-10-27 16:12] gaul commented on #47
Is there some low-effort, repeatable way to do this, perhaps via a Maven plugin?

[2018-10-27 16:14] gaul commented on #68
This may make sense.  If you run modernizer on a large code base can you see if this optimization helps?

[2018-10-27 23:07] #73 closed

[2018-10-27 23:07] #76 closed

[2018-10-28 02:47] ctubbsii commented on #47
@gual Yeah, the [maven-site-plugin] generates static websites for maven projects. It can be tweaked with various reporting plugins. The [maven-plugin-plugin] is a particularly useful reporting plugin for generating sites for maven plugins. Once configured, you can generate the site with the built-in [site lifecycle] `mvn site`.

You can manually copy the generated static site's html from `target/`

[2018-10-30 16:11] vorburger commented on #68
@gaul will do once I actually use modernizer-maven-plugin; still waiting for #69 ... ;-)

[2018-11-01 20:17] mattnelson opened #79 ""java.version" to Runtime.version()"
[Runtime.version](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Runtime.html#version()) was added in 9. Is it possible for modernizer to recognize this update flow?

[code]

[code]

[2018-11-01 23:07] gaul commented on #79
The current violation mechanism uses only method signatures, e.g., `System.getProperty`, and not their arguments.  We could special-case this with code if you want to submit a pull request.  I wonder what other methods have arguments like this?

[2018-11-05 04:04] gaul opened #80 "Android violations"
The Android API is quite large and changed over time; I wonder if modernizer can help people keep up with the latest versions?  We would need a separate version field for this.

[2018-11-10 02:01] #69 closed

[2018-11-10 09:52] davidkarlsen opened #81 "1.7.0 still not working on java 11"
[code]

[2018-11-10 17:41] gaul commented on #81
You might try enabling additional logging -- it looks like part of the stack trace got eaten somewhere.  Your log clearly shows asm 7.0 used but try running `mvn dependency:tree` to double-check?  I successfully ran OpenJDK 11 with modernizer 1.7.0 so I am not sure what specific code triggers this failure.  modernizer is at the mercy of the asm dependency so you might want to follow up with their

[2018-11-12 15:07] vorburger commented on #69
@gaul thanks for the release! (We'll use it in https://git.opendaylight.org/gerrit/#/c/67838/)

[2018-11-17 15:47] kincajou commented on #81
I have same error:
[code]
My guess this is caused by using ASM7 feature while configuring for ASM5 version here:

https://github.com/gaul/modernizer-maven-plugin/blob/modernizer-maven-plugin-1.7.0/src/main/java/org/gaul/modernizer_maven_plugin/Modernizer.java#L139

[2018-11-23 22:03] gaul commented on #81
Could you test this locally and submit a pull request if it fixes theissue?  Just `mvn install` and change the version used in `pom.xml` to 1.8.0-SNAPSHOT.

[2018-11-24 22:36] gaul commented on #81
Fixed by #82.  I am traveling and my maven credentials are not on this computer so I will push a new release when I return in a week.

[2018-12-03 02:30] gaul commented on #81
Pushed 1.7.1.

[2018-12-03 02:30] #81 closed

[2019-01-09 08:23] Serranya opened #83 "Don't check modernizer.javaVersion when execution is skipped"
When the execution of this plugin is skipped the plugin should not complain that the javaVersion is not specified.

[2019-01-09 19:05] gaul commented on #83
I believe that `javaVersion` should not be required in `ModernizerMojo.java.`  Instead it `execute` should make sure this is set after the skip check.  Could you test this and submit a pull request if this works?

[2019-01-09 20:16] Serranya commented on #83
Yeah

[2019-01-14 18:14] #83 closed

[2019-02-01 19:57] #3 closed

[2019-05-28 07:49] Dichotomia opened #91 "Allow Matcher.appendReplacement for StringBuffer in JDK <= 8."
Allow Matcher.appendReplacement for StringBuffer in JDK <= 8.

The API for Matcher.appendReplacement for StringBuilder has been added in JDK 9.

[2019-05-28 08:09] gaul commented on #91
This sounds reasonable; could you submit a pull request?

[2019-05-28 08:11] Dichotomia commented on #91
I did not study how this plugin work. Is there any way to exclude a violation based on his usage?

[2019-05-28 08:14] gaul commented on #91
The README suggests a mechanism to do this:

https://github.com/gaul/modernizer-maven-plugin#ignoring-elements

[2019-05-28 08:17] Dichotomia commented on #91
Yes i did this.

I was suggesting to modify the plugin because it is a general case.

Sorry for my English.

[2019-05-28 08:20] gaul commented on #91
Adding new violations is easy; modify this XML file:

https://github.com/gaul/modernizer-maven-plugin/blob/master/modernizer-maven-plugin/src/main/resources/modernizer.xml

and submit a pull request!

[2019-05-28 08:24] Dichotomia commented on #91
The problem is that rule is blocking me :

  <violation>
    <name>java/lang/StringBuffer."&lt;init&gt;":()V</name>
    <version>1.5</version>
    <comment>Prefer java.lang.StringBuilder</comment>
</violation>

The usage of StringBuilder is

https://docs.oracle.com/javase/8/docs/api/java/util/regex/Matcher.html#appendReplacement-java.lang.StringBuffer-java.lang.String-

[2019-05-28 08:31] gaul commented on #91
Sorry, I misunderstood your initial question.  I believe your source code has code like:

[code]

modernizer suggests that you use `StringBuilder` which is unsynchronized.  Can you change your code?  If not please use the `@SuppressModernizer` annotation suggested above.

[2019-05-28 08:32] Dichotomia commented on #91
Yes that is what the code looks like.

Ok for the moment i don't understand what the code do. Then i use the @SuppressModernizer annotation.

Thanks for the answer.

[2019-05-28 08:36] Dichotomia commented on #91
Maybe we will wait java 9 for

https://docs.oracle.com/javase/9/docs/api/java/util/regex/Matcher.html#appendReplacement-java.lang.StringBuilder-java.lang.String-

[2019-05-28 08:44] gaul commented on #91
Ah, I understand the problem -- Java 1.5 introduced `StringBuilder` but Java 9 introduces `Matcher.appendReplacement(StringBuilder)`.  Unfortunately modernizer cannot detect this kind of situation and this is exactly the situation the suppression mechanism is designed for.  If you cannot use the suppression annotation you can work around this via the exclusion mechanism although you should prefer

[2019-05-28 08:44] #91 closed

[2019-06-12 19:25] gaul opened #92 "JDK compatibility"
Travis using JDK 11 recently failed:

https://travis-ci.org/gaul/modernizer-maven-plugin/builds/544727117

this is due to Travis upgrading from JDK 8:

https://travis-ci.org/gaul/modernizer-maven-plugin/builds/544212234

Newer JDKs remove `sun.misc.BASE64Decoder` and `sun.misc.BASE64Encoder` which the unit tests reference.  Modernizer only requires JDK 7 but this will become an issue for developer

[2019-08-22 18:20] rovarga opened #93 "Add Automatic-Module-Name to annotations"
Since the annotations module does not commit to a JPMS module name, one cannot use it with in artifacts which want to be full JMPS modules, because:

[WARNING] **************************************************************************************************************************************************************
[WARNING] * Required filename-based automodules detected: [modernizer-maven-annot

[2019-08-22 18:34] gaul commented on #93
Can modernizer provide this metadata while ensuring backward compatibility with Java 6?  If so could you submit a pull request?

[2019-08-22 19:08] gaul commented on #79
Seems outside the scope of modernizer.

[2019-08-22 19:08] #79 closed

[2019-08-22 19:10] #93 closed

[2019-09-01 13:54] gaul commented on #68
@vorburger Can you investigate this?

[2019-09-01 21:20] vorburger commented on #68
@gaul Hallo! Unfortunately I meanwhile no longer work (on a project) with `modernizer-maven-plugin`, so probably won't get to this; sorry, but sure you understand. Therefore, from my side, absolutely no objection taken if you just close this issue now. If you think it could still be of interest / future for you / other users to do, keep it open - up to you.

[2019-09-11 12:32] Serranya commented on #28
Immutables added their own `@Generated?` annotation that has a retention of CLASS. Other projects e.g. rocker did the same.

As reference jacoco recognizes all annotations that are called Generated as lang as the rentention is wider than SOURCE. I think modernizer should do the same. This should already cover a great set of projects.

[2019-09-11 14:15] gaul commented on #28
This sounds like a great idea; can someone investigate implementing this?  I believe it should be straightforward if you follow the existing `@SuppressModernizer` implementation.

[2019-10-13 17:31] gaul commented on #28
Fixed by #99.

[2019-10-13 17:31] #28 closed

[2019-10-13 17:37] gaul opened #101 "2.0.0 release"
Includes `@Generated` suppression and some JDK 11 violation fixes.  Need to diagnose regression from #99 before releasing.

[2019-10-17 23:10] gaul commented on #101
Deployed to Maven Central.

[2019-10-17 23:10] #101 closed

[2019-11-09 22:43] Stephan202 opened #102 "`Ints.checkedCast` vs. `Math.toIntExact`"
Guava's [`Ints.checkedCast`](https://google.github.io/guava/releases/28.1-jre/api/docs/com/google/common/primitives/Ints.html#checkedCast-long-) can be replaced with Java 8's [`Math.toIntExact`](https://docs.oracle.com/javase/8/docs/api/java/lang/Math.html#toIntExact-long-). As described in google/guava#3105, the only difference is the exception they throw. Keeping in mind this subtle difference:

[2019-11-10 02:31] gaul commented on #102
Modernizer should recommend this.  The violation comment could suggest catching `ArithmeticException`.  I also like https://github.com/google/guava/issues/3105#issuecomment-390493543 suggesting `Math.subtractExact` instead of `IntMath.checkedSubtract`.

[2019-11-10 21:01] Stephan202 commented on #102
Alright, I filed #103.

[2019-11-11 13:58] #102 closed

[2019-12-04 10:12] metteo commented on #35
@ankon I know this discussion is 4 years old but IMHO the rules you describe should be part of [PMD Java Rules](https://pmd.github.io/latest/pmd_rules_java.html)

[2019-12-14 07:00] gaul opened #104 "Consider URL violation"
Users should prefer `URI` due to `URL.equals` strange behavior.

[2020-01-29 16:46] hazendaz commented on #92
The build path can be easily split between java 7 and java 8 needs.  So the unit tests can then take advantage of java 8.

[code]

[2020-01-29 16:57] hazendaz opened #105 "Upgrade ASM for jdk 14 / 15 support to ASM 7.3.1"
Direct support for jdk 14 / 15 fails due to old ASM.  Please upgrade.  See ASM notes https://asm.ow2.io/versions.html.

Overriding this project for ASM 7.3.1 currently fixes the issue.

[2020-01-29 23:21] gaul commented on #105
Can you submit a pull request?

[2020-01-29 23:22] gaul commented on #92
This issue tracks JDK 11 not being able to run the modernizer test suite due to one of the functions being removed.  How does your comment address this?

[2020-01-30 01:07] hazendaz commented on #105
@gaul Certainly!  I just forked the repo.  I'll start work on this and get it over once all tests are confirmed.  Thanks.

[2020-01-30 01:10] hazendaz commented on #92
@gaul The issue is that sun.* shouldn't have been used.  Jdk 8 introduced direct support for base64 decoder/encoder.  Thus the only change that needs to apply here is using jdk 8 only to build which is likely already the case.  It doesn't really matter that jdk 11 simply deleted those classes.  The changes are very minor and rather simple.  Using the options I provided above, jdk 8 through 11 will

[2020-01-30 04:06] hazendaz commented on #92
After reviewing the code I understand the point now.  My PR #106 simply shows switching it which obviously serves no purpose as to a real solution other than maybe to indicate a need for usage of toolchains to run that specific test in earlier jdk or some other way to harness the results there.

[2020-02-02 23:58] gaul opened #110 "Figure out minimum supported Java version"
I have previously tested modernizer with Java 6 although various Java 7 dependencies have crept in since CI does not enforce this.  I believe that applications can still run modernizer with Java 6 although developers cannot compile and test with it due to #109, Guava, and probably other things.  I don't know that this project needs any sort of heroics but if earlier JDK support is easy then it wou

[2020-02-03 00:48] gaul commented on #110
Strangely Travis uses openjdk8 when setting `dist: trusty` and `java: openjdk7`:

https://travis-ci.org/gaul/modernizer-maven-plugin

[2020-02-03 00:51] hazendaz commented on #110
Travis is using ubuntu.  Trusty is the old one.  It's not a good idea to go back to that.  Xenial is the current main used one.  With oracle changing licensing terms, you won't find anything but openjdk getting used now.  This has to do with a script that was written some time ago that allowed to override travis to pull whatever up next jdks.  That was consumed into travis itself.  So the new buil

[2020-02-03 00:53] hazendaz commented on #110
See https://docs.travis-ci.com/user/reference/overview/

[2020-02-03 00:54] hazendaz commented on #110
Linux #

A sudo enabled, full virtual machine per build, that runs Linux, one of:

    Ubuntu Bionic 18.04
    Ubuntu Xenial 16.04 default
    Ubuntu Trusty 14.04
    Ubuntu Precise 12.04

[2020-02-03 00:54] hazendaz commented on #110
Precise still allows jdk 6 but will eventualy go away.  Trusty was the main one used until middle to end of last year when they started rolling out randomly everyone to xenial.

[2020-02-03 00:55] hazendaz commented on #110
This is helpful too -> https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment

[2020-02-04 02:59] brianhks opened #111 "Use public scope on your classes"
The way you have designed your Modernizer code it can be easily used outside of a maven plugin except that the classes are not public.  I see no benefit of keeping the classes package private.  However if they were public I could wrap it in a command line utility or incorporate it into other build tools.

[2020-02-04 04:19] gaul commented on #111
I originally kept the interfaces private so that the API could evolve but I doubt the interfaces will change much any more.  Could you submit a pull request with the APIs you want made public?

[2020-02-04 13:52] gaul commented on #110
Sorry I pushed the wrong branch.  Several of the tests require Java 8 to complete:

https://travis-ci.org/gaul/modernizer-maven-plugin/builds/645953599

Thus I think that CI should continue testing with JDK 8 and pom.xml continue to target JDK 6 until this becomes more irritating.

[2020-02-04 19:54] brianhks commented on #111
Yes, will do.

[2020-02-05 06:26] gaul commented on #105
Fixed by 8269ed8cce6df6b84756242708c74a3ba2ee9864.

[2020-02-05 06:26] #105 closed

[2020-02-08 09:03] #110 closed

[2020-03-19 11:43] davidkarlsen opened #112 "No worky on java 14"
Even with https://github.com/gaul/modernizer-maven-plugin/commit/8269ed8cce6df6b84756242708c74a3ba2ee9864 and running on 2.0.0 I get
[code]

[2020-03-19 11:46] davidkarlsen commented on #112
Ah - I see it has not been released yet - could you push out a release please?

[2020-03-20 01:51] gaul commented on #111
@brianhks I would like to run another release soon.  Do you plan to work on this in the near-term?

[2020-03-20 01:52] gaul commented on #112
I just pushed a new 2.1.0-SNAPSHOT.  Can you verify that this addresses your symptoms?  I will run a new release soon.

[2020-03-20 08:06] davidkarlsen commented on #112
It passed with 2.0.1-SNAPSHOT yesterday.

[2020-03-20 14:58] brianhks commented on #111
Oh yes sorry I have a pull request I'll get it to you today.

[2020-03-20 21:17] brianhks commented on #111
I created pull request https://github.com/gaul/modernizer-maven-plugin/pull/113

[2020-03-20 21:17] #111 closed

[2020-03-22 09:40] gaul commented on #112
Deployed 2.1.0.

[2020-03-22 09:40] #112 closed

[2020-05-09 07:45] electrum commented on #70
One important difference for JDK immutable `Set` and `Map` is that the iteration order is unspecified, whereas the Guava versions preserve order.

[2020-07-17 13:58] gaul opened #114 "Add violations for Iterables Stream equivalents"
Javadoc helpfully annotates these, for example, replacing `Iterables.getLast` with ` Streams.findLast().get()`:

https://guava.dev/releases/21.0/api/docs/com/google/common/collect/Iterables.html#getLast-java.lang.Iterable-T-

[2020-09-15 23:50] gaul opened #115 "Add new violations for Java 13-15"
Audit Java 13-15 API additions using something like:

https://gunnarmorling.github.io/jdk-api-diff/jdk14-jdk15-api-diff.html

[2020-10-27 10:50] nickstolwijk opened #117 "Classes annotated with javax.annotation.Generated and javax.annotation.processing.Generated are not ignored"
Expected behaviour:
Modernizer does not trigger on generated classes.

Shown behaviour:
Modernizer does trigger on classes with @Generated.

The current implementation looks at the class file to find the annotations. The default annotations (javax.annotation.Generated and javax.annotation.processing.Generated) are #RetentionLevel(SOURCE) and thus not available after compilation.

[2020-10-27 12:12] gaul commented on #117
I don't think that modernizer can do anything about this since these external classes use those retention levels.  However if you annotate with another class with the name "Generated" and the correct retention level then it should work.  Otherwise you need to write some exclusions.

[2020-10-27 12:49] nickstolwijk commented on #117
Unfortunately, I can't control the generator. :-( I have for now added an exclusion.

[2020-12-07 19:20] nickstolwijk opened #118 "Crash on Java 15 preview-features"
I was playing around with the Java 15 preview features (records to be exact) and Modernizer crashed on my code.

I could fix it by upgrade ASM to 8 and enable ASM8. I see that there is also an ASM9. What is your policy on updating ASM? The latest and greatest or the one for the latest release (including preview-features?) of the JDK?

[2020-12-07 23:29] gaul commented on #118
This is probably fine to upgrade to the latest ASM.  However I notice that Modernizer does not document its backward compatibility with older Java versions.  Could you research this and document it?

[2020-12-07 23:50] nickstolwijk commented on #118
I think you mean ASM? I will have a look if I can find anything.

[2020-12-07 23:59] nickstolwijk commented on #118
They compile their code with Java 8, but use ASM to retrofit their own code to make it bytecode compitable with Java 1.5. [1]

[1] https://gitlab.ow2.org/asm/asm/-/blob/master/tools/retrofitter/src/main/java/org/objectweb/asm/tools/Retrofitter.java

[2020-12-08 00:29] nickstolwijk commented on #118
Created PR #119  to solve this issue.

[2020-12-08 01:22] #118 closed

[2020-12-08 01:31] gaul opened #120 "2.2.0 release"
Mostly to incorporate #119.

[2020-12-08 01:40] gaul commented on #118
Thanks for researching this!  It is good to know ASM isn't the limiting factor and I believe that at least JDK 6 and onward should work.  I encountered some problems building locally.  The winning combination ended up being:

[code]

[2020-12-08 08:57] #117 closed

[2020-12-08 22:26] nickstolwijk commented on #118
I can build it with adopt-openjdk-11.0.9.1 and Maven 3.6.3.

[2021-03-16 23:11] nickstolwijk commented on #120
Java 16 just got to GA, but unfortunately Modernizer 2.1.0 doesn't support this GA release yet. Are there any obstacles to releasing 2.2.0?

[2021-03-17 13:58] gaul commented on #120
Done:

https://github.com/gaul/modernizer-maven-plugin/releases/tag/modernizer-maven-plugin-2.2.0

[2021-03-17 13:58] #120 closed

[2021-07-22 09:22] #114 closed

[2021-07-23 06:13] gaul commented on #92
Fixed by 0dd1c5a1fd82ecefde10ba2dfc8e8207f8ee9afa.

[2021-07-23 06:13] #92 closed

[2021-08-25 11:48] findepi opened #125 "Allow @SuppressModernizer on a constructor"
`@SuppressModernizer` is allowed on a method. Allow it on a constructor too.

[2021-08-25 12:43] gaul commented on #125
@stevegutz could you look into this?

[2021-08-25 13:33] stevegutz commented on #125
I opened https://github.com/gaul/modernizer-maven-plugin/pull/126

As an organization, we've moved on from modernizer, so this is likely the last contribution I'll make to this project.

[2021-08-26 07:34] krzyk opened #127 "Consider switching from deprecated 1.x to x in modernizer.xml for java versions"
1.x nomenclature for java version has been deprecated long ago, please consider switching to the x.
So 1.7 becomes 7, 1.11 is 11 etc.

[2021-08-26 10:10] gaul opened #129 "Set up new CI"
Travis-ci.org shut down so we need to move the project to Travis-ci.com or GitHub actions.

[2021-08-26 12:25] #127 closed, assigned to nobody

[2021-08-28 02:12] binkley opened #131 "Several project dependencies are outdated"
I ran into an issue with CVE dependency scanning for Gradle counterpart to this plugin which depends on this project.

Transitively, there is a dependency here on a crufty version of `plexus-utils` that has an XML injection security bug.  I filled against the Gradle plugin project here:

https://github.com/andygoossens/gradle-modernizer-plugin/issues/1

Reviewing `pom.xml` for the plugin, I see ma

[2021-08-28 02:17] gaul commented on #131
I can't process an issue that boils down to, "old versions, lolz!".  If you have something specific you want to fix please submit a PR.  Note that several versions are pinned due to supporting older Java versions.

[2021-08-28 02:17] #131 closed

[2021-08-29 08:57] krzyk commented on #115
I took a quick look at diffs since JDK 11 and the only obvious thing that I found was HexFormat.

Just an idea, because I don't have such live/production code to check it right now so no PR right now (until I find live use case)

It is in 17 (few days too early I know) there is a new class (https://download.java.net/java/early_access/jdk17/docs/api/java.base/java/util/HexFormat.html ) that might b

[2021-08-31 20:15] kevinb9n opened #134 "Not clear that JDK immutable factories are more "modern" than Guava immutable collections"
Almost everything we had in Guava that made its way into the JDK came out _better_ in the JDK, and I really appreciate that your tool helps our users get rid of that junk!

But, immutable collections didn't, so unless you define "modern" by "release date" then I'm not sure it really applies to this case.

Couple major advantages of the Guava collections over the newer JDK factories:

*   The set a

[2021-08-31 20:23] Stephan202 commented on #134
Just as an extra data point from a company other than Google itself: we have configured the plugin to indeed disable these patterns. Currently our full set of exclusions is as follows:
[code]

[2021-08-31 21:22] kevinb9n commented on #134
(Now Iterables I'm not sure I'd have gone to bat for. :-))

[2021-09-01 05:05] krzyk commented on #134
This is not an advantage. Because of new JDK factories we discovered few bugs in our code that dependent on the order.

Random iteration order was introduced for a reason.

[2021-09-01 05:11] krzyk commented on #134
And just another point.
Most usages of Immutable Collections from guava are just pure and simple creation of given factories, because it is easier to do it e.g. inline during field initialization.

And for those it is pretty valid for modernizer to report them, in other cases one can use excludes.

So besides the system level "Immutable*" I don't see major benefits.

There wasn't a single case tha

[2021-09-01 15:44] cpovirk commented on #134
@krzyk Randomized collection ordering is a topic that we've been discussing lately for unrelated reasons. Can you explain what kinds of bugs you fixed when you switched from guaranteed order to randomized order? Traditionally, the bugs we've heard of are from switching from one _non_-guaranteed order to another, as we often see with classes like `HashMap` during JDK upgrades.

[2021-09-01 15:49] cpovirk commented on #134
(Maybe you had code that copied a `HashSet` into an `ImmutableSet`, so you were indirectly depending on the non-guaranteed order of `HashSet`? In that case, `Set.copyOf` calls your attention to the problem now, while `ImmutableSet.copyOf` would break only when you upgrade the JDK and see a change in `HashSet` ordering -- or maybe just when your prod code inserts different values that your tests.)

[2021-09-14 10:42] milindbangar79 opened #135 "Java 11 Support"
Hi,

Nice plugin. We have migrated most of our apps from JDK 8 to 11.

Can I leverage the plugin for it ?

Thanks

[2021-09-14 11:07] gaul commented on #135
Yes.  Do you have a specific compatibility problem?

[2021-10-06 17:08] anderskristian commented on #135
The problem is building this plugin
sdk use java 8.0.302-zulu
mvn clean package
works fine !!!!!!

sdk use java 11.0.2-open
mvn clean package
does not work on my mac

Using the plugin in my applications works fine !!!

[2021-10-06 17:49] anderskristian commented on #135
This is the error I get when I build the plugin

Loading source files for package org.gaul.modernizer_maven_annotations...
Constructing Javadoc information...
Standard Doclet version 11.0.2
Building tree for all the packages and classes...
Generating /Users/me/data/tutorials/modernizer-maven-plugin/modernizer-maven-annotations/target/apidocs/org/gaul/modernizer_maven_annotations/SuppressModernizer

[2021-11-23 17:13] mprins commented on #47
I use the `maven-site-plugin` to generate the site and `maven-scm-publish-plugin` to publish to a `gh-pages` branch; I've found this to be the most reliable way, also for very large, multimodule sites.

As an example see https://github.com/GeoDienstenCentrum/schemaspy-maven-plugin/blob/master/pom.xml

I can get you started with a PR if you like

[2021-11-24 01:54] gaul commented on #47
@mprins I would appreciate a PR!  @ctubbsii gave some good background but I don't have the cycles to look into this myself.

[2022-01-17 17:20] mprins commented on #47
So I've created the PR about 2 months ago, but so far no reaction

[2022-01-23 13:47] #47 closed

[2022-02-04 12:38] AMashenkov opened #138 "Describe XML schema for modernizer.xml config."
Having XML schema for the modernizer xml configuration file will allow to validate the config and detect bugs at the very early stage,
e.g. in IDE or any other CI tool.

[2022-02-19 12:02] gaul commented on #134
tl;dr: I plan to remove these violations before the next release.  I appreciate all the comments on this issue and am documenting my current thinking below.

Sorry I was not ignoring this exactly but I hoped that the community would surface some consensus since I lack a strong opinion.  I added the violation in d26cc7c5d6f6bc08ed305397ce149716f1d21c70 in 2014 without too much thought.  Since then

[2022-02-19 19:33] kevinb9n commented on #134
(No, I mean I really think I did present it poorly :-))

jawdrop.

Well, the surface area of released libraries is a small minority of collection usages. For the within-Google data point here, we return these types from public methods hundreds of thousands of times, and it works out well. The compile errors aren't even the _best_ part, but since people are generally so hyped about "List shouldn't

[2022-03-05 14:28] #134 closed

[2022-03-05 14:30] #129 closed

[2022-03-05 14:31] gaul commented on #115
@krzyk @Stephan202 Could one of you look into this?  I plan to run a new release soon.

[2022-03-05 14:32] gaul commented on #40
@kevinb9n any thoughts on this?  I would like to close this issue if not.

[2022-03-05 14:33] gaul commented on #138
@AMashenkov could you propose a PR to address this?

[2022-03-05 14:44] Stephan202 commented on #115
@gaul I can add this one on my TODO list, but my weekends are rather full currently. So it's hard to firmly commit at the moment. Let's see :crossed_fingers:

NB: in addition to the resources mentioned above [this website](https://javaalmanac.io/) might also be helpful :)

[2022-03-05 23:20] gaul commented on #134
I will readily admit that I have a limited vantage point since I _exclusively_ work on Java libraries.  I appreciate your feedback since I spend more of my time using C++ these days, both inside Google and otherwise.

[2022-03-07 14:51] yeikel opened #140 "Simple concatenations should not be flagged"
Starting with 2.4.0, I received the following error: `Prefer java.lang.String.join or use java.util.stream.Stream with java.util.stream.Collectors.joining`

While it is true that in loops, it is generally advised to do that, there is nothing wrong with simple concatenations such as a+b

In fact, they may perform better than the alternatives in newer java versions

Source : https://www.youtube.com/

[2022-03-07 14:57] #140 closed

[2022-03-07 14:57] yeikel commented on #140
Never mind, the warning is just not clear. This seems to be related to https://github.com/gaul/modernizer-maven-plugin/commit/688d9aa83151a561e807097b1078205ccbe94043

[2022-03-08 12:17] gaul commented on #140
What would make this better?  Could we add column information?  Is this technically possible?

[2022-03-08 12:20] yeikel commented on #140
I think that simply adding the banned api to the error messages would clarify them

I was able to find what the error meant when I checked the rules definition

[2022-03-08 12:22] gaul commented on #140
Pull requests welcome!

[2022-03-14 10:08] froque opened #141 "A required class was missing while executing org.gaul:modernizer-maven-plugin:2.4.0:modernizer: org/codehaus/plexus/util/StringUtils"
The latest release 2.4.0 does not work with Maven 4 (to be released)

## Maven 3

[code]

## Maven 4

[code]

[2022-03-29 02:21] gaul opened #147 "Recommend `Optional::orElseThrow` instead of `get`"
Java 10 recommends `orElseThrow` instead of `get`:

https://docs.oracle.com/javase/10/docs/api/java/util/Optional.html#get()

Some background:

http://mail.openjdk.java.net/pipermail/core-libs-dev/2016-April/040531.html

[2022-08-16 02:22] youzipi opened #149 "why prefer `StringBuilder` instead of `StringBuffer`?"
`StringBuilder` and `StringBuffer` provides different concurrency guarantees.
I do not see any filter that detects if the code is in an concurrency scenarios.
IMO, we have no way to achieve this.
so, why we need this modernizer rule?

[2022-08-16 11:56] gaul commented on #149
Most people don't need the concurrency guarantee and don't even realize the overhead, similar to `Vector`.  You can use `synchronized (stringBuffer)` if you need this.

[2022-08-16 11:56] #149 closed

[2022-09-23 11:59] Harmelodic opened #150 "Support Java 19"
I attempted building an application with JDK 19.

Commmand:
`mvn -X clean compile`

Key bit of the output:

Debug logged failure:
[code]

[2022-09-27 06:23] mnoteberg-non commented on #150
This PR aims to fix this: https://github.com/gaul/modernizer-maven-plugin/pull/151

[2022-09-27 07:41] #150 closed

[2022-09-27 08:00] Harmelodic commented on #150
PR got merged and issue got closed but there hasn't been a release? @gaul?

[2022-10-20 00:20] kevinb9n commented on #40
Sorry I missed that question.

So yeah, I think `checkNotNull` has some advantages over `requireNonNull`, especially if the codebase also uses `checkArgument`/`checkState`. For that matter, I also believe in the value of Guava's `Preconditions.checkNotNull` / `Verify.verifyNotNull` distinction, so that a stack trace always portrays very clearly whether it is the *caller's fault* or not. But I doub

[2022-10-20 18:33] hgschmie commented on #40
I wonder if adding Supplier variants to the various Verify/Precondition methods would be possible. E.g.

`Preconditions.checkNotNull(T obj, Supplier<String> messageSupplier)`, similar to what exists for requireNonNull. Having those for checkNotNull/checkArgument/checkState and Verify.verify/verifyNotNull  might be valuable.

[2022-10-20 19:11] kevinb9n commented on #40
@hgschmie see https://github.com/google/guava/issues/5927

[2022-10-29 18:42] cstamas opened #152 "BLOCKER modernizer-maven-plugin depends on plexus-utils but does not declare it as dependency"
The `modernizer-maven-plugin` depends on plexus-utils (uses `org.codehaus.plexus.util.StringUtils` from it) **but does not declare it as dependency**. Maven 2.x did "auto-inject" plexus-utils into every Mojo, and Maven 3.x continued doing it for compatibility reasons, but this "backward compatilibility feature" will be removed in upcoming Maven 3.9.x and Maven 4.x. Hence, this plugin is broken whe

[2022-10-29 21:07] #152 closed

[2022-10-31 13:55] cstamas commented on #141
Fixed by https://github.com/gaul/modernizer-maven-plugin/issues/152

[2022-11-28 14:01] delanym opened #155 "@SuppressModernizer not applicable to type use"
I'm unable to suppress the StringBuffer to StringBuilder recommentation:

[code]

If I say

[code]
I get

[2022-11-28 14:11] delanym commented on #155
I could maybe use the exclusions tag, but what the heck is a javap format: java/lang/String.getBytes:(Ljava/lang/String;)[B supposed to mean I dont know. Can you include a couple of examples? Presumably most people using this plugin have no knowledge of bytecode internals.